---
import { Image } from 'astro:assets'
import BaseLayout from '@/layouts/BaseLayout'
import hachiware from '../../assets/images/pages/hachiware.jpg'
---

<BaseLayout title="about">
  <main class="space-y-10">
    <section class="flex flex-wrap md:flex-nowrap items-center">
      <section class="space-y-5">
        <span class="font-semibold">Hello, I am</span>
        <h1 class="text-3xl font-bold">Nano@Gaomingzhao</h1>
        <article class="md:w-8/12 text-slate-500 space-y-2">
          <p>
            There have many opinions about the stuffs like web development,
            scripts, technologies, life philosophy etc.
          </p>
          <p>
            We do not provide muti-language translation to every paper, those
            contents will be written in a single languages such as english or
            japanese depends on my mood.
          </p>
          <p>Enjoy and have fun!</p>
        </article>

        <button
          class="bg-grayDeep text-white ring-2 font-semibold py-2 px-4 rounded-xl"
        >
          <a href="https://github.com/gaomingzhao666"> Find me on Github </a>
        </button>
      </section>

      <Image
        src={hachiware}
        format="webp"
        class="hidden md:block md:size-4/12 rounded-3xl hover:scale-105 transition-transform"
        alt="img of Nano avatar"
      />
    </section>
  </main>
</BaseLayout>
