---
import { Image } from 'astro:assets'
import BaseLayout from '@/layouts/BaseLayout'
import Browser from '@/components/icons/Browser'
import coding from '@/components/icons/Coding'
import Server from '@/components/icons/Server'
import hachiware from '../../../assets/images/hachiware.jpg'

interface WorkingOn {
  label: string
  icon: any // astro component type
  description: string
}

const workingOn: WorkingOn[] = [
  {
    label: '前端开发',
    icon: Browser,
    description:
      '前端开发是我的主要工作领域，我始终对此保持高度关注。我对用户界面的创建和用户体验的提升充满热情。',
  },
  {
    label: '后端开发',
    icon: Server,
    description:
      '后端开发虽然不是我的主要工作，但我喜欢使用类似JavaScript的语言，如 NodeJS和PHP，来构建全栈项目。',
  },
  {
    label: '自动化脚本',
    icon: coding,
    description:
      '目前我正在学习并实践一些可以处理一些无聊操作的Python脚本。但这只是兴趣使然，并不会深入研究。',
  },
]
---

<BaseLayout title="about">
  <main class="space-y-10">
    <section class="flex flex-wrap md:flex-nowrap items-center">
      <section class="space-y-5">
        <span class="font-semibold">こんにちは、私は</span>
        <h1 class="text-3xl font-bold">なの@Gaomingzhao</h1>
        <article class="md:w-8/12 text-slate-500">
          <p>
            我会在这里将会发表一些关于网页开发、脚本、科技及人生哲学等方面的观点和文章。
          </p>
          <p>
            然而并非所有文档都提供本地化翻译，本网站仅针对UI进行本地化，发表的文章内容将根据情况以英语或日语中的一种语言撰写。
          </p>
          <p>请在此玩的开心！</p>
        </article>
      </section>

      <Image
        src={hachiware}
        format="webp"
        class="hidden md:block md:size-4/12 rounded-3xl hover:scale-105 transition-transform"
        alt="小八的照片"
      />
    </section>

    <section>
      <h1 class="text-3xl font-bold mb-10">专注于</h1>

      <section class="flex items-center flex-wrap md:flex-nowrap gap-4">
        {
          workingOn.map((work) => (
            <section class="size-full md:size-1/3 p-10 flex flex-col items-center gap-y-4 justify-center bg-slate-800 rounded-3xl">
              <work.icon />

              <h2 class="text-2xl font-semibold">{work.label}</h2>
              <p class="text-slate-500 text-center">{work.description}</p>
            </section>
          ))
        }
      </section>
    </section>
  </main>
</BaseLayout>
