.embla {
  width: 53rem;
  overflow: hidden;
}
.embla .embla__viewport {
  overflow: hidden;
}
.embla .embla__viewport .embla__container {
  display: flex;
  gap: 1rem;
  touch-action: pan-x pinch-zoom;
}
.embla .embla__viewport .embla__container .embla__slide {
  width: 100%;
}
.embla .embla__viewport .embla__container .embla__slide .embla__slide__number {
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__controls .embla__buttons {
  display: flex;
  justify-content: start;
  align-items: center;
}
.embla__controls .embla__buttons .embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}
