---
import { cn } from '@/utils'

interface Props {
  size?: string
  color: string
  label: string
}
const { label, size, color } = Astro.props
---

<span
  class={cn(
    `text-${color}-800 bg-${color}-200 dark:text-black dark:bg-white inline-flex items-center px-3 py-1 text-sm rounded-xl hover:ring-1 transition-all`,
    size ? `text-${size}` : 'text-sm',
  )}
>
  {label ?? 'Unknown Tag'}
</span>
