---
import { Image } from 'astro:assets'
import BaseLayout from '@/layouts/BaseLayout'
import hachiware from '../../../assets/images/pages/hachiware.jpg'
---

<BaseLayout title="なの アバウト">
  <main class="space-y-10">
    <section class="flex flex-wrap md:flex-nowrap items-center">
      <section class="space-y-5">
        <span class="font-semibold">こんにちは、私は</span>
        <h1 class="text-3xl font-bold">なの@Gaomingzhao</h1>
        <article class="md:w-8/12 text-slate-500">
          <p>
            ここはウェブ開発、スクリプト、ウェブ開発技術、人生哲学などについて多くの意見がここで発表されます。
          </p>
          <p>
            すべての文書に多言語翻訳を提供しているわけではなく、内容は私の気分に応じて英語または日本語のいずれかの単一言語で書かれます。
          </p>
          <p>どうぞお気楽に使ってね！</p>
        </article>

        <button
          class="bg-grayDeep text-white ring-2 font-semibold py-2 px-4 rounded-xl"
        >
          <a href="https://github.com/gaomingzhao666">
            Github で私のことを見る
          </a>
        </button>
      </section>

      <Image
        src={hachiware}
        format="webp"
        class="hidden md:block md:size-4/12 rounded-3xl hover:scale-105 transition-transform"
        alt="Nanoのアバター"
      />
    </section>
  </main>
</BaseLayout>
